@import '../../../../resources/sass/variables';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import '../../../../resources/sass/snippets/all';

$product-item-class: '.product-cat' !default;
$product-item-detail-class: '.product-detail' !default;

$small-line-height: $font-size-base * $line-height-base * $small-font-size/100%;


@import './resources/styles/sale-banner';
@import './resources/styles/element';
