@import '../../../../resources/sass/variables';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

.product-light {
	// align-items: stretch;
	background-color: $white;
	// display: flex;
	padding: map-get($spacers, 2);

	&-left {
		// margin-right: map-get($spacers, 4);
		// padding: map-get($spacers, 2) map-get($spacers, 4) map-get($spacers, 2) map-get($spacers, 2);
		width: 20%;
	}

	&-body {
		// padding: map-get($spacers, 3);
	}

	&-image-wrapper {
		display: block;
		height: 100%;
		position: relative;
		transition: all 300ms ease;
	}

	&-image {
		display: block;
		left: 50%;
		max-height: 100%;
		object-fit: contain;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&-title {
		font-weight: $font-weight-bold;
		max-height: 2 * $h6-font-size * $headings-line-height;
		margin-bottom: map-get($spacers, 2);
		overflow: hidden;

		& > a,
		& > a:hover {
			color: $body-color;
		}

		.owl-item & {
			height: 2 * $h6-font-size * $headings-line-height;
		}
	}

	&-price-container {
		overflow: hidden;
		white-space: nowrap;
	}

	&-price-container &-info-container-title {
	  font-size: $small-font-size;
	  color: $extra;
	  margin-bottom: -1 * map-get($spacers, 2);
	}

	&-price-current {
	  font-weight: 600;
	  font-size: $font-size-lg;
	}

	&-price-old {
		color: $extra;
		font-size: $font-size-sm;
		text-decoration: line-through;
	}

	@include media-breakpoint-up(md) {
		padding: map-get($spacers, 4);

		&-left {
			width: 33.33333%;
		}
	}

	@include media-breakpoint-up(xl) {
		// align-items: center;

		&-image-wrapper {
			height: 0;
			padding-top: 82%;
		}
	}
}
