.b-error-page {
	display: flex;
	flex-direction: column;
	padding: 3rem 0;
	align-items: center;

	&__code {
		font-size: 10.13rem;
		font-weight: 300;
		color: theme-color('primary');
		line-height: 1.35;
	}

	&__btn {
		margin-top: 3rem;
	}

	@include media-breakpoint-down(sm) {
		padding: 2rem 0;
		text-align: center;

		&__code {
			font-size: 6rem;
		}

		&__btn {
			margin-top: 2rem;

			> a {
				margin-top: 8px;
				display: block;
			}
		}
	}
}
