.sale-order-detail-back-to-list-link-up {
  display: block;
  margin-bottom: 2.13rem; }

.sale-order-detail-back-to-list-link-down {
  display: block;
  margin-top: 2.13rem; }

.sale-order-detail-general {
  border: 1px solid #e8edf0; }

.sale-order-detail-general-head {
  margin: 0px;
  padding: .81rem 1rem;
  background-color: #e8edf0;
  font-weight: bold; }

.sale-order-detail-general-item {
  margin-top: 2.31rem;
  margin-bottom: 2.13rem; }

.sale-order-detail-about-order, .sale-order-detail-payment-options, .sale-order-detail-payment-options-order-content, .sale-order-detail-total-payment {
  padding: 0 1rem 1.5rem;
  border-bottom: 1px solid #e8edf0; }

.sale-order-detail-about-order-title-element, .sale-order-detail-payment-options-order-content-title-element, .sale-order-detail-payment-options-title-element {
  display: block;
  font-size: 0.875rem;
  color: #7d8698;
  margin: 1rem 0; }

.sale-order-detail-about-order-inner-container-details-title, .sale-order-detail-payment-options-shipment-composition-title-element {
  font-size: 0.875rem;
  margin: 0;
  padding: 1rem 0;
  color: #7d8698;
  border-bottom: 1px solid #7d8698; }

.sale-order-detail-about-order-inner-container-name-title, .sale-order-detail-about-order-inner-container-status-title, .sale-order-detail-about-order-inner-container-price-title, .sale-order-detail-payment-options-methods-shipment-list-item, .sale-order-detail-payment-options-methods-shipment-list-item-link {
  font-size: 0.875rem;
  magin: .44rem 0; }

.sale-order-detail-payment-options-methods-shipment-list-item-link {
  color: #3483b8; }
  .sale-order-detail-payment-options-methods-shipment-list-item-link:hover {
    text-decoration: underline; }

.sale-order-detail-about-order-inner-container-name-detail, .sale-order-detail-about-order-inner-container-price-detail, .sale-order-detail-about-order-inner-container-status-detail {
  font-weight: bold; }

.sale-order-detail-about-order-inner-container-name-read-less, .sale-order-detail-about-order-inner-container-name-read-more,
.sale-order-detail .sale-order-list-cancel-payment {
  margin: 1rem 0 1rem;
  border-bottom: 1px dashed #3483b8;
  cursor: pointer;
  color: #3483b8 !important;
  display: inline-block; }

.sale-order-detail-about-order-inner-container-details, .sale-order-detail-about-order-inner-container-name-read-less, .sale-order-detail-hide-link {
  display: none; }

.sale-order-detail-about-order-inner-container-repeat {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.sale-order-detail-about-order-inner-container-repeat-cancel {
  display: block;
  text-align: center;
  margin: .5rem 0; }

.sale-order-detail-about-order-inner-container-details-list, .sale-order-detail-total-payment-list-left, .sale-order-detail-total-payment-list-right {
  padding-left: 0;
  list-style: none; }

.sale-order-detail-about-order-inner-container-details {
  padding: 0 2rem; }

.sale-order-detail-about-order-inner-container-list-item {
  padding: 1rem 0 0 0; }

.sale-order-detail-about-order-inner-container-list-item-element, .sale-order-detail-about-order-inner-container-list-item-link {
  display: block;
  font-weight: bold; }

.sale-order-detail-payment-options-info-image {
  display: inline-block;
  height: 3.38rem;
  background: url(images/sale-personal-order-payment-options-order-number.svg) center no-repeat;
  color: #7d8698; }

.sale-order-detail-payment-options-info-order-number, .sale-order-detail-payment-options-info-total-price {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.sale-order-detail-payment-options-info-order-number {
  font-weight: bold; }

.sale-order-detail-payment-inner-row-template {
  display: none;
  cursor: pointer;
  margin-top: 1rem; }

.sale-order-detail-payment-options-shipment-image-container, .sale-order-detail-payment-options-methods-image-container {
  text-align: center; }

.sale-order-detail-payment-options-methods {
  padding: 1.25rem 0 1.25rem 0;
  border-top: 1px solid #e8edf0;
  overflow: hidden; }

.sale-order-detail-payment-options-methods-image-element, .sale-order-detail-payment-options-shipment-image-element {
  display: block;
  height: 3.19rem;
  margin: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.sale-order-detail-payment-options-info {
  padding: 1.5rem .94rem 2rem 1rem; }

.sale-order-detail .sale-order-detail-payment-options-methods-button-container {
  padding-right: 0;
  text-align: right; }

.sale-order-detail .payment-options-methods-row {
  position: relative;
  padding: 0 0 0;
  margin: 0 0 0;
  overflow: hidden; }

.sale-order-detail-payment-options-methods-info-title, .sale-order-detail-payment-options-methods-shipment-list-item-title {
  font-weight: bold; }

.sale-order-detail-payment-options-methods-info-total-check, .sale-order-detail-payment-options-methods-info-total-price {
  font-size: 0.875rem;
  margin: .44rem 0; }

.sale-order-detail-payment-options-methods-info-change-link, .sale-order-detail-payment-options-methods-shipment-list-item-link {
  display: block;
  font-size: 0.875rem;
  margin: .44rem 0 0 0;
  cursor: pointer; }

.sale-order-detail .sale-order-list-payment-title-element {
  margin-right: 1rem;
  margin-left: .25rem; }

.sale-order-detail-payment-options-methods-info-title-status-alert, .sale-order-detail-payment-options-methods-info-title-status-success, .sale-order-detail-payment-options-methods-info-title-status-restricted {
  display: inline-block;
  padding: .31rem .38rem;
  font-weight: 600;
  font-size: .81rem;
  border: 1px solid transparent;
  line-height: 1; }

.sale-order-detail .sale-order-payment-change-pp-list {
  padding: 0 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .sale-order-detail .sale-order-payment-change-pp-list .sale-order-payment-change-pp-company-graf-container {
    border-color: #7d8698; }
  .sale-order-detail .sale-order-payment-change-pp-list .sale-order-payment-change-pp-company:hover .sale-order-payment-change-pp-company-graf-container {
    border-color: #ff5605; }
  .sale-order-detail .sale-order-payment-change-pp-list .sale-order-payment-change-pp-company-smalltitle {
    color: #7d8698;
    font-size: .69rem; }

.sale-order-detail-payment-options-methods-template {
  position: absolute !important;
  left: 1000px;
  padding: 1.5rem 2rem 1.5rem 2rem;
  margin: 0;
  border: 1px solid #3bc8f5;
  -webkit-transition: opacity .5s .3s ease;
  transition: opacity .5s .3s ease;
  opacity: 0; }

.sale-order-detail-active-event .sale-order-detail-payment-options-methods-template {
  position: relative !important;
  left: 0;
  opacity: 1; }

.sale-order-detail-active-event .sale-order-detail-payment-options-methods-information-block {
  position: absolute;
  left: 1000px;
  opacity: 0; }

.sale-order-detail-payment-options-shipment-composition-map {
  display: none; }

.sale-order-detail-order-item-img-block {
  margin: 0;
  padding-left: 0 !important;
  width: 5.31rem;
  min-width: 5.31rem;
  max-width: 5.31rem; }

.sale-order-detail-order-item-img-container {
  display: block;
  padding-top: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.sale-order-detail-order-section-content table tr:first-child td {
  border-top: transparent; }

.sale-order-detail-order-section-content .table thead th {
  border-bottom-width: 1px;
  border-top: 0; }

.sale-order-detail-total-payment-list-left-item {
  overflow: hidden;
  list-style: none;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap; }

.sale-order-detail-total-payment-container {
  padding: 2rem 0 1rem; }

.sale-order-detail-total-payment-list-right-item {
  font-weight: bold;
  text-align: right; }

.sale-order-detail-total-payment {
  border-bottom: 0;
  padding-bottom: 0; }

@media (max-width: 767.98px) {
  .sale-order-detail-about-order-inner-container-repeat, .sale-order-detail-payment-options-methods-button-container {
    margin: 1rem 0 0; }
  .sale-order-detail-about-order-inner-container-repeat-button, .sale-order-detail-payment-options-methods-button-element {
    display: block !important; }
  .sale-order-detail-payment-options-methods-template {
    padding: 0 !important; }
  .sale-order-detail .payment-options-methods-row {
    padding-left: 10px; }
  .sale-order-detail-payment-options-methods-image-container {
    margin: .5rem 0; } }

/*# sourceMappingURL=style.css.map */
