.c-button-control {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 1.5rem;
	text-decoration: none;
	border: 1px solid #dee1e6;
	transition: $transition-base;
	position: relative;

	&__icon {
		font-size: 1.3rem;
		color: $secondary;
		position: relative;
		@include media-breakpoint-up(sm) {
			font-size: 1.5rem;
		}
	}

	&__title {
		color: $extra;
		font-size: 0.68rem;
		@include media-breakpoint-up(sm) {
			font-size: 0.88rem;
		}
	}

	&__quantity {
		position: absolute;
		top: 0;
		right: auto;
		left: 0.75rem;
		line-height: 1;
		font-size: 0.75rem;
		background: #ff5605;
		padding: 0.25rem 0.44rem;
		-webkit-border-radius: 1.25rem;
		-moz-border-radius: 1.25rem;
		border-radius: 1.5rem;
		color: #fff;
		border: 0.13rem solid theme-color("light");
		font-size: 0.75rem;
		min-width: 1.5rem;
		text-align: center;
		display: none;
	}

	&.has-items &__quantity {
		display: block;
	}

	&.has-items &__icon {
		color: $icon-300;
	}

	@include hover-focus {
		text-decoration: none;
		background: #dee1e6;
	}

	&.is-active {
		background: #dee1e6;
	}

	&__bottom-panel {
		padding: 0 0.5rem;
		border-left: none;
		border-right: none;
		@media (min-width: 360px) {
			padding: 0 0.9rem;
		}
		@media (min-width: 400px) {
			padding: 0 1.2rem;
		}
		@media (min-width: 470px) {
			padding: 0 1.7rem;
		}
		@include media-breakpoint-up(sm) {
			padding: 0 1rem;
		}
		@include media-breakpoint-up(md) {
			border-left: 1px solid #dee1e6;
			border-right: 1px solid #dee1e6;
			padding: 0 1rem;
		}
		@include media-breakpoint-up(lg) {
			padding: 0 1.5rem;
		}

		&:hover {
			background: inherit;
		}

		&.is-active {
			background: inherit;
		}

		& .c-button-control__icon {
			transition: 0.2s;
		}

		&:hover .c-button-control__icon {
			color: $primary;
		}
	}
	
}
