.sale-order-history-link {
  margin-right: 1rem; }

.sale-order-title {
  margin-top: 2.31rem;
  margin-bottom: 2.13rem; }

.sale-order-list-container {
  border: 1px solid #e8edf0;
  margin-bottom: 2rem; }

.sale-order-list-title {
  margin: 0px;
  padding: .81rem 1rem;
  background-color: #e8edf0;
  font-weight: bold; }

.sale-order-list-accomplished-title-container, .sale-order-list-accomplished-date-container {
  background-color: #e8edf0;
  font-weight: bold;
  padding-top: .81rem;
  padding-bottom: .81rem; }

.sale-order-list-accomplished-title, .sale-order-list-accomplished-date, .sale-order-list-accomplished-date-number {
  padding-left: .81rem;
  padding-right: .81rem;
  margin: 0; }

.sale-order-list-inner-accomplished {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.sale-order-list-accomplished-date-container {
  text-align: right; }

.sale-order-list-inner-title-line {
  display: block;
  font-size: 0.875rem;
  color: #7d8698;
  padding: 1rem 1rem .38rem; }

.sale-order-list-inner-row {
  padding: 0 1rem; }

.sale-order-list-payment-title, .sale-order-list-shipment-title {
  font-weight: bold;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.sale-order-list-inner-row-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.sale-order-list-payment-price {
  padding: .44rem 0; }

.sale-order-list-payment-title-element {
  margin-left: .25rem;
  display: inline-block;
  margin-right: 1rem; }

.sale-order-list-status-alert, .sale-order-restricted, .sale-order-success, .sale-order-list-shipment-status-block {
  display: inline-block;
  padding: .31rem .38rem;
  font-weight: 600;
  font-size: .81rem;
  border: 1px solid transparent;
  line-height: 1; }

.sale-order-list-button-container {
  padding-top: .44rem; }

.sale-order-list-inner-row-template {
  display: none; }

.sale-order-list-inner-title-line:nth-child(n+2) {
  border-top: 1px solid #e8edf0; }

.sale-order-list-button-container {
  text-align: right; }

.sale-order-list-shipment-status {
  margin: .38rem 0 .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.sale-order-list-shipment-element, .sale-order-list-shipment-status-item {
  margin-right: 1rem; }

.sale-order-list-inner-row-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -.5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.sale-order-list-inner-button--about, .sale-order-list-inner-button--repeat, .sale-order-list-inner-button--cancel {
  margin: 0 .5rem; }

.sale-order-list-inner-button--about, .sale-order-list-inner-button--repeat {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0; }

.sale-order-list-inner-button--cancel {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right; }

.sale-order-list-top-border {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 1px;
  background: #e8edf0; }

.sale-order-payment-change-pp-list {
  padding: 0 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .sale-order-payment-change-pp-list .sale-order-payment-change-pp-company-graf-container {
    border-color: #7d8698; }
  .sale-order-payment-change-pp-list .sale-order-payment-change-pp-company:hover .sale-order-payment-change-pp-company-graf-container {
    border-color: #ff5605; }
  .sale-order-payment-change-pp-list .sale-order-payment-change-pp-company-smalltitle {
    color: #7d8698;
    font-size: .69rem; }

.sale-order-list-cancel-payment {
  margin-top: 1rem;
  margin-bottom: 1rem; }

@media (max-width: 991.98px) {
  .sale-order-list-payment-title-element {
    margin-left: 0; } }

@media (max-width: 991.98px) {
  .sale-order-list-inner-row-buttons-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .sale-order-list-inner-button {
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    .sale-order-list-inner-button .btn {
      display: block; }
    .sale-order-list-inner-button + .sale-order-list-inner-button {
      margin-top: 1rem; } }

@media (max-width: 575.98px) {
  .sale-order-list-button-container {
    text-align: center;
    margin-top: 1rem; } }

/*# sourceMappingURL=style.css.map */
