@import '../../../../resources/sass/variables';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import '../../../../resources/sass/snippets/all';

.card {
	
	&-lazyload &-body {
		transition: .5s;
		min-height: $line-height-computed * 3;
		position: relative;
		overflow: hidden;
	}
}