.b-about-achievement__number {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: -2px;
    line-height: 1.1;
}

.b-about-achievement__desc {
    font-size: 0.875rem;
    color: #a5aab6;
}
