.b-footer-logo {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 1.75rem;
	color: theme-color('light');

	@include hover {
		color: theme-color('light');
		text-decoration: none;
	}

	.icon-svg {
		margin-right: map-get($spacers, 2);
		font-size: 3rem;
		min-width: 3rem;
	}

	img {
		max-width: 100%;
	}
}
