.compare-non{
	text-align: center;
	margin: 0 auto;
	width: 45%;
	padding: 5rem 0;
	
	@media (min-width: 700px) and(max-width: 1025px) {
		width: 70%;
	}
	
	@media (max-width: 700px) {
		width: 90%;
	}
	
	svg{
		width: 60px;
		height: 60px;
	}
}




