header .l-head__phones .dropdown-menu.show a {

}

header .l-head__phones .dropdown-menu.show a:nth-child(2)::before {
    content: '';
    background-image: url(/bitrix/templates/megamart_default/assets/images/icons/whatsappp.svg);
    display: inline-block;
    width: 27px;
    height: 26px;
    background-size: cover;
    vertical-align: bottom;
    margin-right: 4px;
}

.l-compact-menu.is-open .phone-wrap a:nth-child(2)::before {
    content: '';
    background-image: url(/bitrix/templates/megamart_default/assets/images/icons/whatsappp.svg);
    display: inline-block;
    width: 27px;
    height: 26px;
    background-size: cover;
    vertical-align: bottom;
    margin-right: 4px;
}



footer .foot-phones-wrap a:nth-child(2)::before {
    content: '';
    background-image: url(/bitrix/templates/megamart_default/assets/images/icons/whatsappp.svg);
    display: inline-block;
    width: 27px;
    height: 26px;
    background-size: cover;
    vertical-align: bottom;
    margin-right: 4px;
}

.whatsapp-wrap-icon {
    display: flex;
    align-items: center;
}

.icon-whats {
    background-image: url(/bitrix/templates/megamart_default/assets/images/icons/whatsappp.svg);
    display: inline-block;
    width: 27px;
    height: 26px;
    background-size: cover;
    vertical-align: bottom;
    margin-right: 4px;
}

header .l-head__line-inner.d-flex {
    position: relative;
}

.brands-title {
    margin-top: 10px;
    margin-bottom: 30px;
}

.brands-menu-block {
    display: none;
}

.brands-menu-block.is-active {
    display: block;
    position: absolute;
    background: #fff;
    top: 60px;
    left: 0;
    right: 0;
    overflow: auto;
    max-height: 870px;
    box-shadow: 0 3px 5px #777f8c;
    padding: 20px;
}

.brands-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.brand-elem {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.brand-img {
    width: 100%;
    max-width: 140px;
    object-fit: cover;
}

.compact-catalog-item .headers-links-main-menu {
    background-color: #fff !important;
    color: #000 !important;
}

.compact-other-item .headers-links-main-menu {
    background-color: #fff !important;
    color: #000 !important;
}

.compact-other-item .mmenu-type1-item__link.waves-effect.waves-effect.waves-base {
    background-color: #fff !important;
    color: #000 !important;
}

.l-head__main.main-main-menu {
    display: none
}

.l-head__main.main-main-menu.is-active-menu {
    display: block
}

.l-head__main.main-menu-compact {
    display: none;
}

.l-head__main.main-menu-compact.is-active-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.l-head__main.main-menu-compact.is-active-menu .brands-menu-block {
    top: 78px;
}

@media (max-width: 1024px) {
    .l-head__main.main-menu-compact.is-active-menu .mail-block-wrap {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .l-head__main.main-main-menu, .l-head__main.main-menu-compact {
        display: none !important;
    }
}

/*.l-head__main.main-menu-compact.is-active-menu .mmenu-type1-item.mmenu-type1-item--primary:last-child {*/
/*    display: none !important;*/
/*}*/

/*@media (max-width: 1366px) {*/
/*    .l-head__main.main-menu-compact.is-active-menu .mmenu-type1-item.mmenu-type1-item--primary:last-child {*/
/*        display: block !important;*/
/*    }*/
/*}*/