.footer-age-limit {
	font-size: .75rem;
	width: 2.75rem;
	height: 2.75rem;
	border: 1px solid $extra;
	color: $extra;
	padding: .75rem .63rem;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	overflow: hidden;
	text-align: center;
}
